// --------------------------------
// LightMode Settings
// --------------------------------

.LightMode {
  .nav-wrapper {
    border-right: 3px solid var(--color02);
    padding: 4px;
    align-items: right;
    text-align: right;
    transition: 0.8s ease-in-out;
    background-color: var(--color01);
    animation: lightmodeButtonShadower 8s ease-in-out infinite;
    position: absolute;

    .collapse-icon {
      margin: 8px 4px 4px 4px;
      width: 100%;
      height: 40px;
      transition: 0.8s ease-in-out;

      .navIcon {
        margin-right: 10px;
        width: 38px;
        height: 38px;
        cursor: pointer;
        transition: 0.8s ease-in-out;
        border-radius: 50%;
        @include bubble-link-hover-lightmode;
      }
    }

    .main-contents-wrapper {
      @include flex-config($flex-direction: column);
      transition: 0.8s ease-in-out;
      width: 100%;

      .header-name {
        font-family: ethnocentric, sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        font-size: 1.6em;
        color: var(--color02);
        margin: 0px;
        padding: 0px;
        transition: 0.8s ease-in-out;
      }

      .background-support {
        text-align: -webkit-center;
        width: 100%;
        padding-bottom: 4px;
        transition: 0.8s ease-in-out;
        margin-bottom: 10px;

        .profile-picture {
          width: 140px;
          height: 140px;
          text-align: -webkit-center;
          border-radius: 50%;
          overflow: hidden;
          background-color: var(--portraitSupport);
          border: 4px solid var(--color02);
          margin-left: 10px;
          transition: 0.8s ease-in-out;

          img {
            clip-path: polygon(0 0, 100% 0, 100% 80%, 0 80%);
            margin-top: 4px;
            width: 140px;
            height: 180px;
            transition: 0.8s ease-in-out;
          }
        }
      }

      .nav-link {
        cursor: pointer;
        border-radius: 10px;
        padding: 1px 4px 1px 4px;
        text-decoration: none;
        color: var(--color02);
        font-size: 1rem;
        transition: 0.6s ease-in-out;
        margin: 0px 4px 4px 0px;
        @include small-off-width-borders-transparent;

        &:hover {
          @include bubble-link-hover-lightmode;
          @include small-off-width-borders-lightmode-hover;
        }
      }

      .home-links {
        @include flex-config($flex-direction: column);
        border-right: 2px solid var(--color05);
        padding: 0px 2px 0px 0px;

        .home-id {
          text-decoration: none;
          color: var(--color02);
          cursor: pointer;
          border-radius: 8px;
          padding: 0px 14px 0px 0px;
          text-decoration: none;
          color: var(--color02);
          font-size: 0.9rem;
          transition: 0.6s ease-in-out;
          @include small-off-width-borders-transparent;

          &:hover {
            @include bubble-link-hover-lightmode;
            @include small-off-width-borders-lightmode-hover;
          }
        }
      }

      .resume-loader {
        text-align: center;
        cursor: pointer;
        border-radius: 10px;
        padding: 1px 4px 1px 4px;
        text-decoration: none;
        color: var(--color02);
        font-size: 1.2rem;
        transition: 0.6s ease-in-out;
        margin: 0px 4px 4px 0px;
        @include small-off-width-borders-transparent;

        &:hover {
          @include bubble-link-hover-lightmode;
          @include small-off-width-borders-lightmode-hover;
        }
      }

      .switch-wrapper {
        margin-left: auto;
        @include flex-config(
          $justify-content: space-evenly,
          $flex-direction: row
        );
        align-items: center;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        align-self: center;
        min-width: 100%;

        .switch {
          position: relative;
          display: inline-block;
          width: 80px;
          height: 28px;
          background-color: var(--color01);
          border-radius: 20px;
          border-top: 2px solid var(--color02);
          border-bottom: 2px solid var(--color02);
          border-right: 1px solid var(--color02);
          border-left: 1px solid var(--color02);
          box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.75);

          input {
            opacity: 0;
            width: 0;
            height: 0;
          }

          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
          }

          .slider:before {
            bottom: 2px;
            border: 2px solid var(--color02);
            background-color: var(--color03);
            position: absolute;
            content: "";
            height: 20px;
            width: 24px;
            left: 3px;
            border-radius: 14px;
            transition: 0.6s ease-in-out;
            box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.75);
          }

          input:checked + .slider:before {
            transform: translateX(26px);
            position: absolute;
            content: "";
            height: 20px;
            width: 24px;
            right: 3px;
            bottom: 2px;
            background-color: var(--color12);
            border-radius: 14px;
            transition: 0.6s ease-in-out;
            box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.75);
            border: 2px solid var(--color15);
          }
        }

        .switch-title {
          font-size: 0.6rem;
        }
      }

      .log-btn {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;

        .log {
          text-decoration: none;
          color: var(--color02);
          font-size: 1rem;
          border-radius: 24px;
          padding: 4px 12px 4px 12px;
          transition: 0.8s ease-in-out;
          letter-spacing: 1px;
          @include small-off-width-borders-transparent;

          &:hover {
            border-top: 2px solid var(--color05);
            border-bottom: 2px solid var(--color05);
            color: var(--color04);
          }
        }
      }
    }
  }
}

// --------------------------------
// DarkMode Settings
// --------------------------------

.DarkMode {
  .nav-wrapper {
    border-right: 3px solid var(--color13);
    padding: 4px;
    align-items: right;
    text-align: right;
    transition: 0.8s ease-in-out;
    background: linear-gradient(45deg, var(--color14), var(--color15));
    animation: darkmodeIconShadower 8s ease-in-out infinite;
    position: absolute;

    .collapse-icon {
      margin: 8px 4px 4px 4px;
      width: 100%;
      height: 40px;
      transition: 0.8s ease-in-out;

      .navIcon {
        margin-right: 10px;
        width: 38px;
        height: 38px;
        cursor: pointer;
        transition: 0.8s ease-in-out;
        border-radius: 50%;
        background: radial-gradient(rgba(251, 202, 255, 0.8), var(--color12));
        background-color: var(--color12);
        animation: darkmodeIconShadower 8s ease-in-out infinite;
      }
    }

    .main-contents-wrapper {
      @include flex-config($flex-direction: column);
      transition: 0.8s ease-in-out;
      width: 100%;

      .header-name {
        font-family: ethnocentric, sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        font-size: 1.6em;
        color: var(--color11);
        margin: 0px;
        padding: 0px;
        transition: 0.8s ease-in-out;
      }

      .background-support {
        text-align: -webkit-center;
        width: 100%;
        padding-bottom: 4px;
        transition: 0.8s ease-in-out;
        margin-bottom: 10px;

        .profile-picture {
          width: 140px;
          height: 140px;
          text-align: -webkit-center;
          border-radius: 50%;
          overflow: hidden;
          background-color: var(--portraitSupport);
          border: 4px solid var(--color13);
          margin-left: 10px;
          transition: 0.8s ease-in-out;

          img {
            clip-path: polygon(0 0, 100% 0, 100% 80%, 0 80%);
            margin-top: 4px;
            width: 140px;
            height: 180px;
            transition: 0.8s ease-in-out;
          }
        }
      }

      .nav-link {
        cursor: pointer;
        border-radius: 10px;
        padding: 1px 4px 1px 4px;
        text-decoration: none;
        color: var(--color11);
        font-size: 1rem;
        transition: 0.6s ease-in-out;
        margin: 0px 4px 4px 0px;
        @include small-off-width-borders-transparent;

        &:hover {
          color: var(--color02);
          @include bubble-link-hover-darkmode;
          @include small-off-width-borders-darkmode-hover;
        }
      }

      .home-links {
        @include flex-config($flex-direction: column);
        border-right: 2px solid var(--color12);
        padding: 0px 2px 0px 0px;

        .home-id {
          text-decoration: none;
          color: var(--color02);
          cursor: pointer;
          border-radius: 8px;
          padding: 0px 14px 0px 0px;
          text-decoration: none;
          color: var(--color11);
          font-size: 0.9rem;
          transition: 0.6s ease-in-out;
          @include small-off-width-borders-transparent;

          &:hover {
            color: var(--color02);
            @include bubble-link-hover-darkmode;
            @include small-off-width-borders-darkmode-hover;
          }
        }
      }

      .resume-loader {
        text-align: center;
        cursor: pointer;
        border-radius: 10px;
        padding: 1px 4px 1px 4px;
        text-decoration: none;
        color: var(--color11);
        font-size: 1.2rem;
        transition: 0.8s ease-in-out;
        margin: 0px 4px 4px 0px;
        @include small-off-width-borders-transparent;

        &:hover {
          color: var(--color02);
          @include bubble-link-hover-darkmode;
          @include small-off-width-borders-darkmode-hover;
        }
      }

      .switch-wrapper {
        margin-left: auto;
        @include flex-config(
          $justify-content: space-evenly,
          $flex-direction: row
        );
        align-items: center;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        align-self: center;
        min-width: 100%;

        .switch {
          position: relative;
          display: inline-block;
          width: 80px;
          height: 28px;
          background-color: var(--color01);
          border-radius: 20px;
          border-top: 2px solid var(--color02);
          border-bottom: 2px solid var(--color02);
          border-right: 1px solid var(--color02);
          border-left: 1px solid var(--color02);
          box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.75);

          input {
            opacity: 0;
            width: 0;
            height: 0;
          }

          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
          }

          .slider:before {
            bottom: 2px;
            border: 2px solid var(--color02);
            background-color: var(--color03);
            position: absolute;
            content: "";
            height: 20px;
            width: 24px;
            left: 3px;
            border-radius: 14px;
            transition: 0.6s ease-in-out;
            box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.75);
          }

          input:checked + .slider:before {
            transform: translateX(26px);
            position: absolute;
            content: "";
            height: 20px;
            width: 24px;
            right: 3px;
            bottom: 2px;
            background-color: var(--color12);
            border-radius: 14px;
            transition: 0.6s ease-in-out;
            box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.75);
            border: 2px solid var(--color15);
          }
        }

        .switch-title {
          color: var(--color11);
          font-size: 0.6rem;
        }
      }

      .log-btn {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;

        .log {
          text-decoration: none;
          color: var(--color11);
          font-size: 1rem;
          border-radius: 24px;
          padding: 4px 12px 4px 12px;
          transition: 0.8s ease-in-out;
          letter-spacing: 1px;
          @include small-off-width-borders-transparent;

          &:hover {
            border-top: 2px solid var(--color12);
            border-bottom: 2px solid var(--color12);
            color: var(--color16);
          }
        }
      }
    }
  }
}

// --------------------------------
// Collapsed Navbar Settings
// --------------------------------

.Large-Nav {
  transition: 0.8s ease-in-out;

  .nav-wrapper {
    @include flex-config($flex-direction: column);
    @include modifyPointer;
    float: left;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 180px;
    z-index: 9;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.8s ease-in-out;

    .collapse-icon {
      transition: 0.8s ease-in-out;
      z-index: 10;

      .navIcon {
        transition: 0.8s ease-in-out;
      }
    }
  }

  .page-contents {
    margin-left: 220px;
    margin-right: 20px;
    transition: 0.8s ease-in-out;
    min-height: 100%;
  }

  .nav-wrapper::-webkit-scrollbar {
    max-width: 0.6em;
    max-height: 0.6em;
    background-color: transparent;
  }

  .nav-wrapper::-webkit-scrollbar-track {
    max-width: 0.6em;
    max-height: 0.6em;
    background-color: transparent;
  }

  .nav-wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0px 0px 4px 2px var(--blackShadowInset);
    background-color: var(--commonColor02);
  }
}

.Small-Nav {
  transition: 0.8s ease-in-out;

  .nav-wrapper {
    @include flex-config($flex-direction: column);
    @include modifyPointer;
    float: left;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 44px;
    z-index: 9;
    height: 100%;
    overflow: hidden;
    transition: 0.8s ease-in-out;

    .main-contents-wrapper {
      width: 0px;
      overflow: hidden;
      transition: 0.8s ease-in-out;
    }
  }

  .collapse-icon {
    transition: 0.8s ease-in-out;
    z-index: 10;

    .navIcon {
      transition: 0.8s ease-in-out;
      margin-right: 8px;
    }
  }

  .page-contents {
    margin-left: 80px;
    margin-right: 20px;
    transition: 0.8s ease-in-out;

    .contents-wrapper {
      min-height: 96vh;
    }
  }
}

@media (max-width: 860px) {
  .LightMode, .DarkMode {
    .Large-Nav {
      transition: 0.8s ease-in-out;
      z-index: 100;

      .nav-wrapper {
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100%;

        .main-contents-wrapper {
          @include flex-config(
            $flex-direction: column,
            $justify-content: center
          );
          align-items: center;
        }

        .home-links {
          overflow: hidden;
          max-width: 0px;
          max-height: 0px;
        }

        .page-contents {
          padding-left: 70px;
          margin-right: 10px;
          max-width: 100%;
          z-index: 2;
        }
      }
    }
  }
}
