// --------------------------------
// Light Theme
// --------------------------------

.LightMode {
  .blog-list-wrapper {
    @include flex-config(
      $justify-content: space-between,
      $flex-direction: column
    );
    align-items: center;

    input {
      border: 1px solid var(--color02);
      border-radius: 10px;
      padding: 6px;
      width: 90%;
      font-family: tachyon, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1rem;
      color: var(--color02);
      text-align: center;
      align-self: center;
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: var(--color01);
      border-bottom: 3px solid var(--color04);
      border-top: 3px solid var(--color04);
      border-right: 1px solid var(--color04);
      border-left: 1px solid var(--color04);
      box-shadow: 0px 0px 8px 4px var(--lightBlueGlow);
    }

    .blog-list {
      @include flex-config(
        $justify-content: space-between,
        $flex-direction: column-reverse
      );
      align-items: center;
      max-width: 96%;

      .version-one {
        min-height: 260px;
        max-height: 260px;

        .blog-header {
          text-align: right;
          border-bottom-right-radius: 10px;
          min-width: 100%;
          max-width: 100%;
        }

        .img-link-wrapper {
          border-right: 2px solid var(--color05);
          padding-right: 10px;
          border-bottom-right-radius: 10px;
          min-height: 240px;
          max-height: 240px;
          @include flex-config(
            $justify-content: space-between,
            $flex-direction: column
          );
          align-items: center;

          .text-link {
            text-align: left;
            padding-bottom: 4px;
            margin-bottom: 8px;
            cursor: pointer;
            user-select: none;
            text-decoration: none;
          }
        }
      }

      .version-two {
        min-height: 260px;
        max-height: 260px;

        .blog-header {
          text-align: left;
          border-bottom-left-radius: 10px;
          min-width: 100%;
          max-width: 100%;
        }

        .img-link-wrapper {
          border-left: 2px solid var(--color05);
          padding-left: 10px;
          border-bottom-left-radius: 10px;
          min-height: 240px;
          max-height: 240px;
          @include flex-config(
            $justify-content: space-between,
            $flex-direction: column
          );
          align-items: center;

          .text-link {
            text-align: right;
            padding-bottom: 4px;
            margin-bottom: 8px;
            cursor: pointer;
            user-select: none;
            text-decoration: none;
          }
        }
      }

      .blog-wrapper {
        margin: 10px;
        padding: 10px;
        background: linear-gradient(
          5deg,
          var(--managerGradient01) 20%,
          var(--managerGradient02) 80%
        );
        border-radius: 10px;
        border: 4px solid var(--color04);
        box-shadow: 0px 0px 10px 2px rgba(0, 150, 204, 0.75);
        min-width: 94%;
        max-width: 94%;

        .blog-elements {
          @include flex-config(
            $justify-content: space-between,
            $flex-direction: row
          );
          align-items: center;
          min-height: 240px;
          max-height: 240px;

          .img-link-wrapper {
            @include flex-config(
              $justify-content: space-between,
              $flex-direction: column
            );
            align-items: center;
            margin-left: 8px;
            margin-right: 8px;
            margin-top: 30px;
            margin-bottom: 20px;
            max-width: 30%;
            max-height: 240px;

            .text-link {
              margin-top: 4px;
              margin-bottom: 4px;
              font-size: 0.8rem;
              color: var(--color05);
              text-align: center;
              cursor: pointer;
              padding: 4px 10px 4px 10px;
              border-radius: 30px;
              border-top: 2px solid transparent;
              border-bottom: 2px solid transparent;
              border-left: 1px solid transparent;
              border-right: 1px solid transparent;
              transition: 0.6s ease-in-out;
              cursor: pointer;
              user-select: none;
              text-decoration: none;

              &:hover {
                color: var(--color05);
                border-top: 2px solid var(--color04);
                border-bottom: 2px solid var(--color04);
              }
            }

            .blog-thumb-img {
              color: var(--color01);
              text-align: center;
              min-height: 40%;
              min-width: 90%;
              max-width: 98%;
              margin: 8px;
              padding: 4px;
              border-top: 1px solid var(--color05);
              border-bottom: 1px solid var(--color05);
              align-items: center;

              img {
                margin: 10px;
                max-height: 140px;
                max-width: 100%;
                border-radius: 20px;
                overflow: hidden;
                border-right: 1px solid var(--color04);
                border-left: 1px solid var(--color04);
                border-top: 3px solid var(--color04);
                border-bottom: 3px solid var(--color04);
              }
            }
          }

          .blog-information {
            @include flex-config($flex-direction: column);
            margin-left: 8px;
            margin-right: 8px;
            max-width: 70%;
            align-items: center;

            .blog-header {
              margin-bottom: 10px;
              padding: 0px 10px 4px 10px;
              font-size: 1.4rem;
              border-bottom: 2px solid var(--color05);
              color: var(--color04);
              min-width: 100%;
              max-width: 100%;
            }

            .blog-summary {
              margin-bottom: 10px;
              font-size: 0.9rem;
              padding: 10px;
              color: var(--color01);
              min-height: 140px;
              max-height: 160px;
              max-width: 100%;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}

// --------------------------------
// Dark Theme
// --------------------------------
.DarkMode {
  .blog-list-wrapper {
    @include flex-config(
      $justify-content: space-between,
      $flex-direction: column
    );
    align-items: center;

    input {
      border-radius: 10px;
      padding: 6px;
      width: 90%;
      font-family: tachyon, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1rem;
      color: var(--color02);
      text-align: center;
      align-self: center;
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: var(--color11);
      border-bottom: 3px solid var(--color16);
      border-top: 3px solid var(--color16);
      border-right: 1px solid var(--color16);
      border-left: 1px solid var(--color16);
      box-shadow: 0px 0px 6px 3px var(--blueGlow);
    }

    .blog-list {
      @include flex-config(
        $justify-content: space-between,
        $flex-direction: column-reverse
      );
      align-items: center;
      max-width: 96%;

      .version-one {
        min-height: 260px;
        max-height: 260px;

        .blog-header {
          text-align: right;
          border-bottom-right-radius: 10px;
          min-width: 100%;
          max-width: 100%;
        }

        .img-link-wrapper {
          border-right: 2px solid var(--color13);
          padding-right: 10px;
          border-bottom-right-radius: 10px;
          min-height: 240px;
          max-height: 240px;
          @include flex-config(
            $justify-content: space-between,
            $flex-direction: column
          );
          align-items: center;

          .text-link {
            text-align: left;
            padding-bottom: 4px;
            margin-bottom: 8px;
            cursor: pointer;
            user-select: none;
            text-decoration: none;
          }
        }
      }

      .version-two {
        min-height: 260px;
        max-height: 260px;

        .blog-header {
          text-align: left;
          border-bottom-left-radius: 10px;
          min-width: 100%;
          max-width: 100%;
        }

        .img-link-wrapper {
          border-left: 2px solid var(--color13);
          padding-left: 10px;
          border-bottom-left-radius: 10px;
          min-height: 240px;
          max-height: 240px;
          @include flex-config(
            $justify-content: space-between,
            $flex-direction: column
          );
          align-items: center;

          .text-link {
            text-align: right;
            padding-bottom: 4px;
            margin-bottom: 8px;
            cursor: pointer;
            user-select: none;
            text-decoration: none;
          }
        }
      }

      .blog-wrapper {
        margin: 10px;
        padding: 10px;
        background: linear-gradient(
          75deg,
          var(--color02),
          var(--color02),
          var(--color02),
          var(--color06),
          var(--color06)
        );
        border-radius: 10px;
        border: 4px solid var(--color16);
        box-shadow: 0px 0px 10px 4px var(--lightBlueGlow);
        min-width: 94%;
        max-width: 94%;

        .blog-elements {
          @include flex-config(
            $justify-content: space-between,
            $flex-direction: row
          );
          align-items: center;
          min-height: 240px;
          max-height: 240px;

          .img-link-wrapper {
            @include flex-config(
              $justify-content: space-between,
              $flex-direction: column
            );
            align-items: center;
            margin-left: 8px;
            margin-right: 8px;
            margin-top: 30px;
            margin-bottom: 20px;
            max-width: 30%;
            max-height: 240px;

            .text-link {
              margin-top: 4px;
              margin-bottom: 4px;
              font-size: 0.8rem;
              color: var(--color12);
              text-align: center;
              cursor: pointer;
              padding: 4px 10px 4px 10px;
              border-radius: 30px;
              border-top: 2px solid transparent;
              border-bottom: 2px solid transparent;
              border-left: 1px solid transparent;
              border-right: 1px solid transparent;
              transition: 0.6s ease-in-out;
              cursor: pointer;
              user-select: none;
              text-decoration: none;

              &:hover {
                color: var(--color16);
                border-top: 2px solid var(--color12);
                border-bottom: 2px solid var(--color12);
              }
            }

            .blog-thumb-img {
              color: var(--color01);
              text-align: center;
              min-height: 40%;
              min-width: 90%;
              max-width: 98%;
              margin: 8px;
              padding: 4px;
              border-top: 1px solid var(--color16);
              border-bottom: 1px solid var(--color16);
              align-items: center;

              img {
                margin: 10px;
                max-height: 140px;
                max-width: 100%;
                border-radius: 20px;
                overflow: hidden;
                border-right: 1px solid var(--color12);
                border-left: 1px solid var(--color12);
                border-top: 3px solid var(--color12);
                border-bottom: 3px solid var(--color12);
              }
            }
          }

          .blog-information {
            @include flex-config($flex-direction: column);
            margin-left: 8px;
            margin-right: 8px;
            max-width: 70%;
            align-items: center;

            .blog-header {
              margin-bottom: 10px;
              padding: 0px 10px 4px 10px;
              font-size: 1.4rem;
              border-bottom: 2px solid var(--color13);
              color: var(--color12);
              min-width: 100%;
              max-width: 100%;
            }

            .blog-summary {
              margin-bottom: 10px;
              font-size: 0.9rem;
              padding: 10px;
              color: var(--color11);
              min-height: 140px;
              max-height: 160px;
              max-width: 100%;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .LightMode, .DarkMode {
    .blog-list-wrapper {
      input {
        font-size: 0.6rem;
      }
  
      .blog-list {
        .version-one {
          @include flex-config($flex-direction: column, $justify-content: center);
          min-width: 180px;
          max-width: 180px;
          min-height: 360px;
          max-height: 360px;
          align-items: center;
  
          .blog-header {
            text-align: center;
            font-size: 0.7rem;
            border: 0px solid transparent;
          }
  
          .img-link-wrapper {
            border: 0px solid transparent;
  
            .text-link {
              font-size: 0.8rem;
            }
          }
        }
  
        .version-two {
          @include flex-config($flex-direction: column, $justify-content: center);
          min-width: 180px;
          max-width: 180px;
          min-height: 360px;
          max-height: 360px;
          align-items: center;

          .blog-header {
            text-align: center;
            font-size: 0.7rem;
            border: 0px solid transparent;
          }
  
          .img-link-wrapper {
            border: 0px solid transparent;

            .text-link {
              font-size: 0.8rem;
            }
          }
        }
  
        .blog-wrapper {
          min-height: auto;
          max-height: auto;

          .blog-elements {
            @include flex-config(
              $justify-content: space-between,
              $flex-direction: column
            );
            align-items: center;
            max-width: 90%;
            min-width: 180px;
            min-height: 360px;
            max-height: 360px;
            border: 0px solid transparent;
  
            .img-link-wrapper {
              width: 100%;
              min-height: 20px;
              max-height: 20px;
  
              .text-link {
                text-align: center;
                font-size: 0.8rem;
                border-bottom: 0px solid transparent;
              }
  
              .blog-thumb-img {
                min-width: 0px;
                max-width: 0px;
                min-height: 0px;
                max-height: 0px;
                overflow: hidden;

                img {
                  height: 0px;
                }
              }
            }
  
            .blog-information {
              @include flex-config($flex-direction: column);
              min-width: 100%;
  
              .blog-header {
                font-size: 0.9rem;
                border: 0px solid transparent;
              }
  
              .blog-summary {
                font-size: 0.7rem;
                min-height: 200px;
                max-height: 200px;
                overflow: hidden;
                width: 100%;
                padding: 2px;
              }
            }
          }
        }
      }
    }
  }
}